html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
}

.page .editor {
    background-color: #999;
}

.page .item {
    flex: 1;
    border-left: #ddd 1px solid;
    padding: 10px;
}

.item > h1 {
    font-family: sans-serif;
    padding-bottom: 10px;
    border-bottom: #ddd 1px dashed;
}

.item textarea {
    width: 100%;
    height: 80%;
}